In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd.options.display.max_rows = 1000
pd.options.display.max_columns = 1000

In [ ]:
ec_llm = pd.read_csv('ec_final_count_v2_5094.csv')
oc_llm = pd.read_csv('oc_final_count_v2_1711.csv')

In [ ]:
rc_llm = pd.read_csv('rc_final_count_201.csv')

In [ ]:
tnbc_llm = pd.read_csv('tnbc_final_count_71099.csv')

In [ ]:
#CONVERT ALL DATE COLUMN TO DATETIME
ec_llm['ENC_DATE']  = pd.to_datetime(ec_llm['ENC_DATE'])
oc_llm['ENC_DATE']  = pd.to_datetime(oc_llm['ENC_DATE'])
rc_llm['ENC_DATE']  = pd.to_datetime(rc_llm['ENC_DATE'])
tnbc_llm['ENC_DATE']  = pd.to_datetime(tnbc_llm['ENC_DATE'])

In [ ]:
#Extract year into its own column
ec_llm['year'] = ec_llm['ENC_DATE'].dt.year
oc_llm['year'] = oc_llm['ENC_DATE'].dt.year
rc_llm['year'] = rc_llm['ENC_DATE'].dt.year
tnbc_llm['year'] = tnbc_llm['ENC_DATE'].dt.year

In [ ]:
#Function to count yearly patients
def unique_patients(df):
    return (
        df.drop_duplicates(subset=['PATIENT_KEY', 'year']).groupby('year')['PATIENT_KEY'].nunique().reindex(range(2017,2022), fill_value=0)
    )

**Criteria 1: Endometrial cancer that is MMR-Deficient**

In [ ]:
ec_abnormal = ec_llm[ec_llm['overall_result'] == 'abnormal"']
unique_patients(ec_abnormal)

**Criteria 2: Ovarian Cancer that is MMR-Deficient**

In [ ]:
oc_abnormal = oc_llm[oc_llm['overall_result'] == 'abnormal"']
unique_patients(oc_abnormal)

**Criteria 3: Renal Cancer that is MMR-Deficient**

In [ ]:
rc_abnormal = rc_llm[rc_llm['overall_result'] == 'abnormal"']
unique_patients(rc_abnormal)

**Criteria 4: Triple Negative Breast Cancer**

In [ ]:
tnbc_abnormal = tnbc_llm[tnbc_llm['overall_result'] == 'triple_negative"']
unique_patients(tnbc_abnormal)

TNBC

In [ ]:
tnbc = pd.read_csv('tnbc_final_count_71099.csv')

In [ ]:
pos_outcome_tnbc = tnbc[tnbc['overall_result'] == 'triple_negative"']

In [ ]:
pos_outcome_tnbc_head = pos_outcome_tnbc.head(100)

In [ ]:
pos_outcome_tnbc_head

In [ ]:
for idx, row in pos_outcome_tnbc_head.iterrows():
    print(f"Index: {idx}")
    print(row['CleanedText'])
    print('\n' + '-'*80)

In [ ]:
specific_pat = ['17212', '26185', '']